[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
pyyaml = {git = "https://github.com/yaml/pyyaml.git",editable = true}
discord-py = {git = "https://github.com/Rapptz/discord.py.git",ref = "d48a424f6f464044a59275d5e885b493a4a1aef7",editable = true}

[requires]
python_version = "3.8"

[scripts]
start = "python -m adventureIO"
lint = "python -m flake8"

[dev-packages]
flake8 = "*"
"autopep8" = "*"
